

{% include "templates/includes/head_magazine.html" %}


            <div class="theme-breadcrumb-area">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="breadcrumb-inner">
                                <ul>
                                    <li>Home</li>
                                    <li>About</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <section class="page-content-area mt-30 mb-80">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="page-content">
                                

                                <div class="post-block-style-inner">
                                    <div class="post-block-media-wrap location">
                                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d215584.98499841205!2d-90.13792306214567!3d32.405349949731544!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8629d21b5b027191%3A0xfe6590d037a9f228!2sRidgeland%2C%20MS%2C%20USA!5e0!3m2!1sen!2sbd!4v1672491880233!5m2!1sen!2sbd"  allowfullscreen="" aria-label="Ridgeland" loading="lazy"></iframe>
                                    </div>
                                    <div class="post-block-content-wrap">
                                        <div class="post-content about mt-40">
                                            <h2 class="mb-20">Contáctanos</h2>
                                            <p class="mb-30">Facturación Electrónica; Software de gestión de seguridad; Desarrollo en office; Sistema para Contadores; SERVICIOS. Soporte Técnico (OUTSOURCING) Publicidad Web; Redes Informáticas; Producción Audiovisual.</p>
                                            <div class="contact-info mb-35">
                                                <p><strong>Address: </strong>Lorem 15 Str, 4844, Ipsum, State, USA</p>
                                                <p><strong>Phone: </strong>+30-2006055555</p>
                                            </div>
                                            <h2 class="mb-20">Feel Free To Contact</h2>

                                    <div class="theme-comment-area">
                                    <!-- Start Comment Respond  -->
                                    <div class="comment-respond">

                                        <form action="#">
                                            <div class="row">
                                                <div class="col-lg-4 col-md-12">
                                                    <div class="form-group">
                                                        <label for="name">Your Name</label>
                                                        <input id="name" type="text">
                                                    </div>
                                                </div>
                                                <div class="col-lg-4 col-md-12">
                                                    <div class="form-group">
                                                        <label for="email">Your Email</label>
                                                        <input id="email" type="email">
                                                    </div>
                                                </div>
                                                <div class="col-lg-4 col-md-12">
                                                    <div class="form-group">
                                                        <label for="website">Your Subject</label>
                                                        <input id="website" type="text">
                                                    </div>
                                                </div>
                                                <div class="col-lg-12">
                                                    <div class="form-group">
                                                        <label for="message">Your Message</label>
                                                        <textarea id="message" name="message"></textarea>
                                                    </div>
                                                </div>
                                                <div class="col-lg-12">
                                                    <div class="form-submit">
                                                        <input name="submit" type="submit" id="submit" class="theme-submit-btn" value="Send">
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>



                                        </div>
                                    </div>
                                </div>



                                
                            </div>
                            

                        </div>

                      <!--  <div class="col-lg-4">

                            <div class="sidebar blog-sidebar">
                                <div class="section-title">
                                    <h2 class="title-block">
                                        Popular on Beatrix
                                    </h2>
                                </div>
                                <article class="post-block-style-wrapper post-block-template-two most-read-block-list">
                                    <div class="post-block-style-inner post-block-list-style-inner">
                                        <div class="post-block-media-wrap">
                                            <a href="post-single.html">
                                            <img src="/assets/magazine/media/brown-fashion.jpg" alt="Post title">
                                            </a>
                                        </div>
                                        <div class="post-block-content-wrap">
                                            <div class="post-item-title">
                                                <h2 class="post-title">
                                                    <a href="post-single.html">Rachel Maddow Will Go Mondays Only On MSNBC</a>
                                                </h2>
                                            </div>
                                            <div class="post-bottom-meta-list">
                                                <div class="post-meta-author-box">
                                                    <a href="javascript:void(0)">Cristiano</a>
                                                </div>
                                                <div class="post-meta-date-box">
                                                    Sep 30
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </article>
                                <article class="post-block-style-wrapper post-block-template-two most-read-block-list">
                                    <div class="post-block-style-inner post-block-list-style-inner">
                                        <div class="post-block-media-wrap">
                                            <a href="post-single.html">
                                            <img src="/assets/magazine/media/brown-fashion.jpg" alt="Post title">
                                            </a>
                                        </div>
                                        <div class="post-block-content-wrap">
                                            <div class="post-item-title">
                                                <h2 class="post-title">
                                                    <a href="post-single.html">Beauty products that still beloved today</a>
                                                </h2>
                                            </div>
                                            <div class="post-bottom-meta-list">
                                                <div class="post-meta-author-box">
                                                    <a href="javascript:void(0)">Cristiano</a>
                                                </div>
                                                <div class="post-meta-date-box">
                                                    Sep 30
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </article>
                                <article class="post-block-style-wrapper post-block-template-two most-read-block-list">
                                    <div class="post-block-style-inner post-block-list-style-inner">
                                        <div class="post-block-media-wrap">
                                            <a href="post-single.html">
                                            <img src="/assets/magazine/media/classic-dress.jpg" alt="Post title">
                                            </a>
                                        </div>
                                        <div class="post-block-content-wrap">
                                            <div class="post-item-title">
                                                <h2 class="post-title">
                                                    <a href="post-single.html">Using UX law in design are adept surprisingly</a>
                                                </h2>
                                            </div>
                                            <div class="post-bottom-meta-list">
                                                <div class="post-meta-author-box">
                                                    <a href="javascript:void(0)">Cristiano</a>
                                                </div>
                                                <div class="post-meta-date-box">
                                                    Sep 30
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </article>
                                <article class="post-block-style-wrapper post-block-template-two most-read-block-list">
                                    <div class="post-block-style-inner post-block-list-style-inner">
                                        <div class="post-block-media-wrap">
                                            <a href="post-single.html">
                                            <img src="/assets/magazine/media/sky-hat.jpg" alt="Post title">
                                            </a>
                                        </div>
                                        <div class="post-block-content-wrap">
                                            <div class="post-item-title">
                                                <h2 class="post-title">
                                                    <a href="post-single.html">Five signs of a healthy intelligent person</a>
                                                </h2>
                                            </div>
                                            <div class="post-bottom-meta-list">
                                                <div class="post-meta-author-box">
                                                    <a href="javascript:void(0)">Cristiano</a>
                                                </div>
                                                <div class="post-meta-date-box">
                                                    Sep 30
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </article>
                            </div>
                            
                        </div> -->

                    </div>
                </div>
            </section>

  
{% include "templates/includes/footer_magazine.html" %}