
<footer class="theme-footer-area">
	<div class="footer-top pt-80 pb-70">
		<div class="container">
			<div class="row">
				<div class="col-lg-3">
					<div class="footer-widget widget">
						<div class="footer-logo">
							<a href="/mzindex"><img src="/assets/magazine/media/logo.svg" alt="Logo"></a>
						</div>
						<p>Pequeño Slogan de la empresa a usar el magazine.</p>
						<div class="footer-social">
							<a href="#"><i class="icofont-facebook"></i></a>
							<a href="#"><i class="icofont-twitter"></i></a>
							<a href="#"><i class="icofont-instagram"></i></a>
							<a href="#"><i class="icofont-linkedin"></i></a>
						</div>
					</div>
				</div>
				<div class="col-lg-3">
					<div class="footer-widget widget widget-nav-menu ml-70">
						<h4 class="widget-title">Recursos</h4>
						<ul class="menu">
							<li><a href="javascript:void(0)">Peru Intercorp</a></li>
							<li><a href="javascript:void(0)">Contacto</a></li>
							<li><a href="javascript:void(0)">Desarrollo</a></li>
							<li><a href="javascript:void(0)">Soporte</a></li>
							<li><a href="javascript:void(0)">Cookies</a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-2">
					<div class="footer-widget widget widget-nav-menu">
						<h4 class="widget-title">Enlaces de interes</h4>
						<ul class="menu">
							<li><a href="javascript:void(0)">Avit</a></li>
							<li><a href="javascript:void(0)">Peru Intercorp</a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="footer-widget widget widget-newsletter ml-30">
						<h4 class="widget-title">Subscribete</h4>
						<div class="footer-newsletter-wrapper">
							<form action="newsletter.php" method="post">
								<input type="email" placeholder="your@email.com" name="email" id="footer-email">
								<input type="submit" value="" id="footer-submit">
								<label class="custom-label">He leído los terminos y condiciones
								<input type="checkbox">
								<span class="checkmark"></span>
								</label>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="footer-divider"></div>
	<div class="footer-bottom">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<div class="copyright-text">
						<p>Copyright © Peru Intnercorp 2023. All rights reserved</p>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="footer-menu">
						<ul class="footer-nav">
							<li><a href="javascript:void(0)">Privacy Policy</a></li>
							<li><a href="javascript:void(0)">Terms of Use</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>
<span class="scrolltotop"><i class="ri-arrow-up-s-line"></i></span>
</div>
	<script>
		frappe.boot = {{ boot }}
		// for backward compatibility of some libs
		frappe.sys_defaults = frappe.boot.sysdefaults;
	</script>
	{{ include_script('frappe-web.bundle.js') }}


	<!-- JS -->


        <!-- Jquery JS -->
        <script src="/assets/magazine/js/vendor/jquery-3.6.0.min.js"></script>
        <!-- Vendors JS -->
        <script src="/assets/magazine/js/vendor/bootstrap.min.js"></script>
        <script src="/assets/magazine/js/vendor/imagesloaded.pkgd.min.js"></script>
        <script src="/assets/magazine/js/vendor/odometer.min.js"></script>
        <script src="/assets/magazine/js/vendor/jquery-appear.js"></script>
        <!-- Main JS -->
        <script src="/assets/magazine/js/app.js"></script>
    </body>
</html>